body{
    background-image: url("/images/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.row{
    margin-left: 20px !important;
    align-items: center;
    margin-bottom: 15px;
}
label{
    float: left;
    width: 10em;
}
.form-control{
    width: 70% !important;
}
#s1{
    /* float: left; */
    margin-top: 10px; 
    margin-left: 20px;  
    height: 100px; 
}
#s2{
    margin-top: 10px; 
    margin-left: 20px;  
    height: 100px;             
}
.size{
    font-size: 12px;
    float: right;
    margin-right: 50px;
    margin-top: 5px;
}
.sel{
    margin-top: 20px;
}
.l1{
    margin-right: 60px;
}
.container1{
    width: 850px;
    height: 630px;
    margin: 2px auto;
    /* border: solid 0.5px black ; */
    box-shadow: 0px 0px 10px lavenderblush;
}
.form-group{
    margin-top: 30px;
}
.dropdown-menu{
    display: inline-block;
}
.buttons{
    /* margin-left: 0px auto; */
    text-align: center;
}
.heading{
    position: relative;
    text-align: center;
}
select{
    height: 100px;
    width: 100px;
    letter-spacing: 1px;    
}
.bt1{
    /* margin-left: 90px; */
    margin-right: 60px;
}
/* .bt2{
    margin-left: 40px;
    margin-right: 0px;
} */
.bt3{
    margin-top: 20px;
    margin-left: 100px;
}
