#i1{
    margin-top: 0px;
    margin-bottom: 50px;
}
h3{
    margin-top: 10px;    
    margin-bottom: 18px;    
    text-align: center;
}
.skill_box{
    width: 150px;
    height: 150px;
    border: solid 1px black;
    text-align: center;
    box-shadow: 10px;
    /* visibility: hidden; */
    /* display: none; */
}
#grid1{
    margin-bottom: 25px;
}
.skill_name{
    padding-top: 40%;
    padding-bottom: 40%;
}
.g1{
    /* position: fixed; */
    float: right;
    margin-right: 3px;
    margin-top: 4px;
    border: none;
    background-color: inherit;
    color: greenyellow;
}
.container3{
    width: 700px;
    height: 550px;
    margin: 10px auto;
}

