body{
    background-image: url("/images/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.row{
    margin-left: 20px !important;
    align-items: center;
    margin-bottom: 15px;
}
label{
    float: left;
    width: 10em;
}
.form-control{
    width: 70% !important;
}
.size{
    font-size: 12px;
    float: right;
    margin-right: 50px;
    margin-top: 5px;
}
.container1{
    width: 850px;
    height: 630px;
    margin: 5px auto;
    box-shadow: 0px 0px 10px lavenderblush;
}
.form-group{
    margin-top: 30px;
}
.heading{
    position: relative;
    text-align: center;
}
select{
    height: 100px;
    width: 100px;
    letter-spacing: 1px;    
}
